
@{
    ViewBag.Title = "角色功能";
    Layout = "~/Views/Shared/_ListPage.cshtml";
}
@section Css{
    <link href="~/Styles/rolefunction.css" rel="stylesheet" />
}
@section Js{
    <script type="text/javascript">
        $(window).resize(function () {
            //重置Panel宽度
            $('.average').panel('resize', { width: ($(window).width() - 25) / 2 });
            $('.easyui-layout').layout('resize');
        });
        $(function () {
            //重置Panel宽度
            $('.average').panel('resize', { width: ($(window).width() - 25) / 2 });
            $('.easyui-layout').layout('resize');


            //#######初始化角色列表数据#######
            $('#role-list').datagrid({
                url: '/SysRole/GetPageList?_=' + GetGuid(),
                title: "角色列表",
                method: 'post',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 300, 400],
                striped: true,
                rownumbers: true,
                fit: true,
                fitColumns: true,
                singleSelect: true,
                columns: [
                    [
                        { title: '角色名称', field: 'RoleName', width: 200 },
                        { title: '创建日期', field: 'Cdt', width: 120, formatter: function (value, row, index) { return FormatDateTime(value); } },
                        { title: '更新日期', field: 'Mdt', width: 120, formatter: function (value, row, index) { return FormatDateTime(value); } }
                    ]
                ],
                //角色选中事件
                onSelect: function (rowIndex, rowData) {
                    var loadindex;
                    $.ajax({
                        type: 'post',
                        dataType: "json",
                        url: '/SysRoleFunction/GetFunction',
                        data: { roleId: rowData.RoleId },
                        cache: false,
                        beforeSend: function () {
                            loadindex = layer.load("请求处理...");
                        },
                        success: function (data) {
                            layer.close(loadindex);
                            MenuToolFunction.CheckCancel(); //清除菜单选中
                            //遍历角色功能
                            if (data != null && data != "" && data.length > 0) {
                                $.each(data, function (i, item) {
                                    var $ckbox = $("input[value=" + item.FunctionId + "]");
                                    $ckbox.prop("checked", true);
                                    $ckbox.parent().css("color", "green");
                                });
                            }
                        }
                    });
                }
            });


            //#######初始化菜单列表数据#######
            $('#function-list').treegrid({
                url: '/SysMenu/GetTreeList?state=open&_=' + GetGuid(),
                title: "菜单列表",
                method: 'post',
                checkbox: true,
                rownumbers: true,
                idField: 'Id',
                striped: true,
                treeField: 'Name',
                fitColumns: true,
                fit: true,
                columns: [
                    [
                        {
                            title: '菜单名称',
                            field: 'Name',
                            width: 300,
                            formatter: function (val, row, index) {
                                return '<label class="function-label" style="color:red;font-weight:bold;cursor:pointer;"><input parent="' + row.ParentId + '"' +
                                    ' class="ckbox-menu"' +
                                    'type="checkbox" onclick="MenuToolFunction.CkEvent(this)" ' +
                                    'value="' + row.Id + '" />' + val + '</label>';
                            }
                        },
                        { title: '导航地址', field: 'Identify', width: 200 },
                        { title: '排序编号', field: 'Sort', width: 100 },
                        { title: '备注', field: 'Notes', width: 100 }
                    ]
                ]
            });
        });

        //#######角色按钮事件#######
        var RoleToolFunction = {
            //搜索
            Search: function () {
                $('#role-list').datagrid('load', $("#form-search").serializeJson());
                $(".ckbox-menu").prop("checked", false);
                $(".function-label").css("color", "red");
            },
            //刷新
            Refresh: function () {
                $('#role-list').datagrid('reload');
                MenuToolFunction.CheckCancel(); //清除菜单选中
            }
        }
        //#######菜单按钮事件#######
        var MenuToolFunction = {
            //刷新
            Refresh: function () {
                $('#function-list').treegrid('reload');
            },
            //展开
            Expand: function () {
                $('#function-list').treegrid('expandAll');
            },
            //折叠
            Collapse: function () {
                $('#function-list').treegrid('collapseAll');
            },
            //全选
            CheckAll: function ($this) {
                var roleCkrow = $('#role-list').datagrid('getSelected');
                if (roleCkrow) {
                    $(".ckbox-menu").prop("checked", true);
                    $(".function-label").css("color", "green");
                } else $.messager.alert('提示', "请先选择角色！", 'warning');
            },
            //全不选
            CheckCancel: function () {
                var roleCkrow = $('#role-list').datagrid('getSelected');
                if (roleCkrow) {
                    $(".ckbox-menu").prop("checked", false);
                    $(".function-label").css("color", "red");
                } else $.messager.alert('提示', "请先选择角色！", 'warning');
            },
            //菜单复选框事件
            CkEvent: function (obj) {
                var $ckbox = $(obj);
                var menuid = $ckbox.val();
                var roleCkrow = $('#role-list').datagrid('getSelected');
                if (roleCkrow) {
                    MenuToolFunction.RecursionCk($("input[parent=" + menuid + "]"), obj);
                } else {
                    $ckbox.prop("checked", false);
                    $.messager.alert('提示', "请先选择角色！", 'warning');
                }
            },
            //递归选中子集菜单
            RecursionCk: function (list, obj) {
                $(obj).parent().css("color", obj.checked ? "green" : "red");
                list.each(function () {
                    $(this).parent().css("color", obj.checked ? "green" : "red");
                    $(this).prop("checked", obj.checked ? true : false);
                    var subid = $(this).attr("value"); //取得子节点ID
                    MenuToolFunction.RecursionCk($("input[parent=" + subid + "]"), obj); //开始递归
                });
            },
            //保存
            SaveFunction: function () {
                var roleCkrow = $('#role-list').datagrid('getSelected');
                if (roleCkrow) {
                    var roleFunctionList = [];
                    $("input[type=checkbox]:checked").each(function (index, domEle) {
                        roleFunctionList.push({
                            RoleId: roleCkrow.RoleId,
                            FunctionId: $(domEle).val()
                        });
                    });
                    $Ajax({
                        url: "/SysRoleFunction/SaveFunction",
                        data: { list: roleFunctionList },
                        callBack: function (result) {
                            $.messager.alert("提示", result.Message, "info");
                        }
                    });
                } else {
                    $.messager.alert('提示', "请先选择角色！", 'warning');
                }
            },
            //重置
            Reset: function () {
                window.location.reload(true);
            }
        }
    </script>
}
<div class="easyui-layout" data-options="fit:true">
    <!--角色区-->
    <div data-options="region:'center',split:true,border:false">
        <div class="easyui-layout" data-options="fit:true">
            <!--角色-按钮区-->
            <div data-options="region:'north'" style="height:40px;padding:5px;">
                <form id="form-search" method="post">
                    @Html.TextBox("RoleName", string.Empty, new { @class = "search-input", placeholder = "角色名称" })
                    <a href="javascript:RoleToolFunction.Search();" class="easyui-linkbutton searchbtn" data-options="iconCls:'icon-zoom'">搜索</a>
                    <a href="javascript:RoleToolFunction.Refresh();" class="easyui-linkbutton searchbtn" data-options="iconCls:'icon-arrow_rotate_clockwise'">刷新</a>
                </form>
            </div>
            <!--角色-列表区-->
            <div data-options="region:'center',border:false">
                <table id="role-list"></table>
            </div>
        </div>
    </div>
    <!--角色功能区-->
    <div class="average" data-options="region:'east',split:true,border:false">
        <div class="easyui-layout" data-options="fit:true">
            <!--角色功能-按钮区-->
            <div data-options="region:'north',border:true" style="height:40px;padding:5px;">
                <a href="javascript:MenuToolFunction.Expand();" class="easyui-linkbutton" data-options="iconCls:'icon-arrow_nw_ne_sw_se'">展开</a>
                <a href="javascript:MenuToolFunction.Collapse();" class="easyui-linkbutton" data-options="iconCls:'icon-arrow_in_longer'">折叠</a>
                <a id="AllCheck" href="javascript:MenuToolFunction.CheckAll();" class="easyui-linkbutton" data-options="iconCls:'icon-tree_checkbox_1'">全选</a>
                <a id="NoAllCheck" href="javascript:MenuToolFunction.CheckCancel();" class="easyui-linkbutton" data-options="iconCls:'icon-tree_checkbox_0'">全不选</a>
            </div>
            <!--角色功能-列表区-->
            <div data-options="region:'center',split:true,border:false">
                <table id="function-list"></table>
            </div>
        </div>
    </div>
    <!--底部保存区-->
    <div data-options="region:'south',border:false" style="text-align:right;height:40px;padding:5px 0;">
        <a href="javascript:MenuToolFunction.SaveFunction();" class="easyui-linkbutton" data-options="iconCls:'icon-tick'">保存</a>
        <a href="javascript:MenuToolFunction.Reset();" class="easyui-linkbutton" data-options="iconCls:'icon-cross'">重置</a>
    </div>
</div>

