html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td , i{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
table{border-collapse: collapse;border-spacing:0;}
caption, th, td ,b,strong{text-align:left;font-weight:normal;}
table, td, th{vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
a img{border:none;}
em,cite{font-style:normal;}
body{background:#fff; font: 12px/1.5 Tahoma,'微软雅黑';color:#000;font-family: '微软雅黑';line-height:1.5;}
h1, h2, h3, h4, h5, h6{font-weight:normal;color:#111;}
a{text-decoration:none;cursor:pointer;}
dl, dt, dd, ol, ul, li{list-style:none;}
.left{float:left;}
.right{float:right;}
.ue-clear:after{content: "";display:block;height:0;clear:both;visibility:hidden;}
.ue-clear{display:inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
*html .ue-clear{height:1%;}
.ue-clear{display:block; overflow:hidden;}
.placeholder{color:#ddd;}
.default-container{padding: 5px;}
.article{float:left; margin-top:6px; width:100%;}
.half{width:50%;*width: 49.999%;}
.todaystat{width:38%;}
.auitdealer{width:12%;}
.article .wrap-l{margin-right:3px;}
.article .wrap-r{margin-right: 3px;}
.contentl{border-top: 1px dashed #C8C7C7;margin-top: 2px;padding: 5px;}
.content .scordeti ul li{border: 1px solid #dddddd; float: left; height: 80px; margin-right: 30px; margin-top: 5px; width: 120px;}
.content .scordeti ul li p{font-size: 20px; height: 50px; line-height: 50px; text-align: center;}
.content .scordeti .ywc{color: #76bd42;}
.content .scordeti ul li .journal{ font-size: 16px!important;}
.content .scordeti ul li h3{color: #fff; font-size: 12px; font-weight: bold; height: 30px; line-height: 30px; text-align: center;}
.article .title{position:relative; line-height:33px; background:url(/Images/righttitlebig.png) repeat-x; border:1px solid #c1d3de; overflow:visible;}
.article .title h2{float:left; margin-left:7px; padding-left:22px; font-weight:bold; font-size:14px; font-family:'宋体'; color:#000000; background:url(/Images/titleico.png) no-repeat left center;}
.article .title h2.title-list{top:-1px; left:-1px; z-index:1; position:absolute; background:none; margin-left:0; padding:0;}
.article .title h2 ul li{width:170px; border-left:1px solid transparent; border-right:1px solid transparent;float:left; padding-left:8px;}
.article .title h2 ul li a{display:block;line-height:35px; padding-left:22px; color:#000; font-size:14px; font-weight:normal;}
.article .title h2 ul li.current{border-left:1px solid #c1d3de; border-right:1px solid #c1d3de; background:url(/Images/titlebg01.png) repeat-x;}
.article .title h2 ul li.current a{background:url(/Images/titleico.png) no-repeat left center; font-weight:bold;}
.article .title .more{font-size:12px; float:right; margin-right:12px; color:#000; width:33px; background:url(/Images/more.png) no-repeat right center;}
.article .title .more:hover{text-decoration:underline;}
.article .content{border:1px solid #c1d3de; border-top:none;}
.article .content .toollist li{margin:20px 0 12px 42px; float:left; width:52px; text-align:center;}
.article .content .toollist li:first-child{margin-left:33px;}
.article .content .toollist li a.img{display:block; width:48px; height:48px;}
.article .content .toollist li p a{display:block; line-height:24px; font-size:13px; color:#000;}
.article .content .toollist li.add-btn{height:72px; margin-left:22px; text-align:center; cursor:pointer;}
.article .content .toollist li.add-btn img{margin-top:18px;}
.notice .content, .matter .content{padding:10px; height:200px;}
.notice .content .notice-list li{line-height:25px;}
.notice .content .notice-list li .notice-title{float:left; margin-left:14px; padding-left:17px; color:#000000; font-size:12px; background:url(/Images/listico.png) no-repeat left center;}
.notice .content .notice-list li .notice-title:hover{text-decoration:underline;}
.notice .content .notice-list li .notice-time{float:right; margin-right:16px; color:#969696;}
.matter .content .matter-content{display:none;}
.matter .content .current{display:block;}
.matter .content .matter-content .today{float:left; margin:6px 25px 0 17px; width:110px; background:url(/Images/date.png) no-repeat;}
.matter .content .matter-content .today .year{line-height:33px; font-size:13px; color:#ffffff; text-align:center;}
.matter .content .matter-content .today .date{text-align:center;line-height:82px; color:#e22f1d; font-size:48px;}
.matter .content .matter-content .matter-list{margin-left: 155px;}
.matter .content .matter-content .matter-list li{line-height:25px;}
.matter .content .matter-content .matter-list li .matter-time{float:left; padding-left:16px; width:90px; background:url(/Images/listico.png) no-repeat left center; color:#969696;}
.matter .content .matter-content .matter-list li .matter-title{float:left; margin-left:18px; color:#000;}
/*.matter .content .matter-content .matter-list li .matter-title:hover{text-decoration:underline;}*/
.duty .content{height:auto;}
.duty .content table{width:100%;}
.duty .content table thead tr{line-height:24px; background:#f1f8fc; border-top:1px solid #fff; border-bottom:1px solid #d1e1ea;}
.duty .content table thead tr th{border-left:1px solid #fff; border-right:1px solid #c3d4de;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.duty .content table thead tr th:first-child{border-left:none;}
.duty .content table thead tr th.last-item{border-right:none;}
.duty .content table thead tr th.icon{width:27px;}
.duty .content table thead tr th.sender{padding-left:9px; width:65px;}
.duty .content table thead tr th.subject{padding-left:5px; width:278px;}
.duty .content table thead tr th.time{padding-left:8px; width:120px;}
.duty .content table thead tr th.user{padding-left:8px; width:96px;}
.duty .content table thead tr th.totalCount{padding-left:8px; width:90px;}
.duty .content table thead tr th.totalMoney{padding-left:8px; width:96px;}
.duty .content table tbody tr.tody td{border-bottom:none;overflow:hidden; white-space:pre;}
.duty .content table tbody tr.tody td .td-wrap{margin-right:6px; padding-top:8px; line-height:22px;overflow:hidden; white-space:pre;}
.duty .content table tbody tr.tody td .td-wrap em{margin-left:5px; font-weight:bold;}
.duty .content table tbody tr.tody td .td-wrap a{color:#0d6ba1;}
.duty .content table tbody tr td{height:24px;line-height:24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.duty .content table tbody tr td .td-wrap{border-top:1px dotted #b9ccd6;}
.duty .content table tbody tr td:first-child .td-wrap{margin-left:6px;}
.duty .content table tbody tr td.time .td-wrap{margin-right:6px;}
.duty .content table tbody tr td.icon .td-wrap{height:24px; background:url(/Images/rmail.png) no-repeat center center;}
.duty .content table tbody tr.open td.icon .td-wrap{height:24px; background:url(/Images/rmail1.png) no-repeat center center;}
.duty .content table tbody tr td.sender .td-wrap{margin-left:9px;}
.duty .content table tbody tr td.subject .td-wrap{margin-left:4px;}
.duty .content table tbody tr td.subject .td-wrap a{color:#000;}
.duty .content table tbody tr td.subject .td-wrap a:hover{text-decoration:underline;}
.duty .content table tbody tr td.time .td-wrap{margin-left:10px; color:#969696;}
.email .content{height:auto;}
.email .content table{width:100%;}
.email .content table thead tr{line-height:24px; background:#f1f8fc; border-top:1px solid #fff; border-bottom:1px solid #d1e1ea;}
.email .content table thead tr th{border-left:1px solid #fff; border-right:1px solid #c3d4de;}
.email .content table thead tr th:first-child{border-left:none;}
.email .content table thead tr th.last-item{border-right:none;}
.email .content table thead tr th.icon{width:27px;}
.email .content table thead tr th.sender{padding-left:9px; width:90px;}
.email .content table thead tr th.subject{padding-left:5px; width:278px;}
.email .content table thead tr th.time{padding-left:8px; width:120px;}
.email .content table thead tr th.user{padding-left:8px; width:96px;}
.email .content table thead tr th.totalCount{padding-left:8px; width:90px;}
.email .content table thead tr th.totalMoney{padding-left:8px; width:96px;}
.email .content table tbody tr.tody td{border-bottom:none;overflow:hidden; white-space:pre;}
.email .content table tbody tr.tody td .td-wrap{margin-right:6px; padding-top:8px;line-height:22px;overflow:hidden; white-space:pre;}
.email .content table tbody tr.tody td .td-wrap em{margin-left:5px; font-weight:bold;}
.email .content table tbody tr.tody td .td-wrap a{color:#0d6ba1;}
.email .content table tbody tr td{height:24px;line-height:24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.email .content table tbody tr td .td-wrap{border-top:1px dotted #b9ccd6;}
.email .content table tbody tr td:first-child .td-wrap{margin-left:6px;}
.email .content table tbody tr td.time .td-wrap{margin-right:6px;}
.email .content table tbody tr td.icon .td-wrap{height:24px; background:url(/Images/rmail.png) no-repeat center center;}
.email .content table tbody tr.open td.icon .td-wrap{height:24px; background:url(/Images/rmail1.png) no-repeat center center;}
.email .content table tbody tr td.sender .td-wrap{margin-left:9px;}
.email .content table tbody tr td.subject .td-wrap{margin-left:4px;}
.email .content table tbody tr td.subject .td-wrap a{color:#000;}
.email .content table tbody tr td.subject .td-wrap a:hover{text-decoration:underline;}
.email .content table tbody tr td.time .td-wrap{margin-left:10px; color:#969696;}

.noneborder th,.noneborder {border-bottom:none!important}