.place{height:40px; background:url(/Images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(/Images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}
.rightinfo{padding:8px;}
.tools{clear:both; height:35px; margin-bottom:8px;}
.toolbar{float:left;}
.toolbar li{background:url(/Images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-right:5px;border-radius: 3px; behavior:url(js/pie.htc); cursor:pointer;}
.toolbar li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.toolbar1{float:right;}
.toolbar1 li{background:url(/Images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-left:5px;border-radius: 3px; behavior:url(js/pie.htc);}
.toolbar1 li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.tablelist{border:solid 1px #cbcbcb; width:100%; clear:both;}
.tablelist th{background:url(/Images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:left;}
.tablelist td{line-height:35px; text-indent:11px; border-right: dotted 1px #c7c7c7;}
.tablelink{color:#056dae;}
.tablelist tbody tr.odd{background:#f5f8fa;}
.tablelist tbody tr:hover{background:#e5ebee;}
.sort{padding-left:3px;}
.goback{background: #307fb1 none repeat scroll 0 0; border: 1px solid #307fb1; border-radius: 2px; color: #fff; cursor: pointer; display: block; height: 23px; line-height: 23px; padding: 0 15px; position: absolute; right: 11px; top: 7px;}
.goback a{background: url("/Images/goback.png") no-repeat scroll 0 3px;display: block;height: 23px;line-height: 23px;padding-left: 20px;color:#fff}
.formbody{padding:10px 18px;}
.formtitle{border-bottom:solid 1px #d0dee5; line-height:35px; position:relative; height:35px; margin-bottom:28px;}
.formtitle span{font-weight:bold;font-size:14px; border-bottom:solid 3px #66c9f3;float:left; position:absolute; z-index:100; bottom:-1px; padding:0 3px; height:30px; line-height:30px;}
.forminfo{padding-left:23px;}
.forminfo li{margin-bottom:13px;clear: both;line-height: 30px;}
.forminfo li label{width:86px;line-height:30px; display:block; float:left;}
.forminfo li i{color:#7f7f7f; padding-left:20px; font-style:normal;}
.forminfo li cite{display:block;}
.dfinput{width:345px; height:30px; line-height:30px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(/Images/inputbg.gif) repeat-x; text-indent:10px;}
.textinput{border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(/Images/inputbg.gif) repeat-x; padding:10px; width:504px; height:135px; line-height:20px; overflow:hidden;}
.search-input{border-top:solid 1px #a7b5bc; border:solid 1px #a7b5bc; background:url(/Images/inputbg.gif) repeat-x; padding: 0 10px; width:220px; height:26px; line-height:26px; overflow:hidden;vertical-align:bottom}
.searchitem li{display: block;float: left;width:auto;border-radius: 1px;padding-right: 5px;}
.searchitem .searchbtnbox{background:#fff;}
.searchitem .searchbtnbox a{margin-top: -3px;}
.searchitem li select{ vertical-align: bottom!important;height: 28px!important;}
.searchitem li .combo,.searchitem li .easyui-linkbutton{ vertical-align: bottom;}
.searchitem li .datebox{ height: 26px!important;}
.searchitem li .easyui-linkbutton{ margin-top: 2px;}
.searchbtn{vertical-align: middle;margin-top: -3px!important;}
.configgroup{float: left;display: block;width: 650px;margin-right: 50px;border: 1px solid #d0dee5;margin-bottom: 10px;padding: 10px;}
.configgroup input[type=radio]{margin-right: 2px;vertical-align: middle;margin-top: -2px;}
.operationlik{color:#056C9E;margin-right: 8px;}
.operationlik:hover{color:#F60;}
.tabdetail{width: 100%;border: 2px solid #ebc5b0;}
.tabdetail td{border: 1px dashed #ebc5b0;padding: 5px;text-align: left;height: 25px;}
.tabdetail .tdtitle{text-align: right;width: 100px;color: #666;}
.tabdetail .tdtitle i{color: red;font-weight: bold;margin-right: 3px;}
.tabdetail .detailinput,
.tablelist-batch .detailinput,
.tablelist-batch .detailtextArea,
.tabdetail .detailtextArea,.tabdetail .cklable input{width:99%; height:25px; line-height:25px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(/Images/inputbg.gif) repeat-x; text-indent:10px;}
.tablelist-batch select{padding: 3px 6px;width: auto;text-indent: 0;vertical-align: middle;}
.tabdetail .detailtextArea{resize: none;height: 100px;}
.tabdetail td .cklable{overflow: hidden; display: block; line-height: 25px;cursor: pointer;}
.tabdetail td .cklable input{float: left; width: auto; margin-right: 5px;}
.tabdetail td .lab,.tabdetail td .RadioButton{overflow: hidden; display: block; line-height: 15px;cursor: pointer;float: left;margin-right: 10px;}
.tabdetail td .lab input,.tabdetail td .RadioButton input{float: left; width: auto; margin-right: 3px;margin-top: 1px;}
.tabdetail select{padding: 2px 6px;width: auto;text-indent: 0;}
.tabdetail .yzmimg{ width: 90px;vertical-align: top;height: 27px;cursor:pointer}
/*error 404*/
.error{background:url(/Images/404.png) no-repeat; width:490px; margin-top:75px;padding-top:100px;}
.error h2{font-size:22px; padding-left:154px;}
.error p{padding-left:154px; line-height:35px;color:#717678;}
.reindex{padding-left:154px;}
.reindex a{width:115px; height:35px; font-size:14px; font-weight:bold; color:#fff; background:#3c95c8; display:block; line-height:35px; text-align:center;border-radius: 2px; behavior:url(js/pie.htc);margin-top:20px;}
/*imglist*/
.imglist{clear:both; overflow:hidden; margin-bottom:20px; margin-left:5px;}
.imglist li{width:188px; border:solid 1px #fff;height:199px;float:left; margin-right:8px; margin-bottom:10px; cursor:pointer;}
.imglist li:hover{border:solid 1px #d7e4ea;}
.imglist li span{width:168px; height:126px; margin:8px;}
.imglist li h2{text-align:center; line-height:25px;}
.imglist li p{text-align:center; line-height:17px; background:url(/Images/line1.png) center center no-repeat;}
.imglist li p a{color:#1f7cb6;}
.imglist li p a:hover {color: #F60;}
/*imgtable*/
.imgtable{width:100%;border:solid 1px #cbcbcb;}
.imgtable th{background:url(/Images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:21px; text-align:left;}
.imgtable td{line-height:20px; text-indent:21px; border-right: dotted 1px #c7c7c7;}
.imgtable td img{margin:10px 20px 10px 0;}
.imgtable td p{color:#919191;}
.imgtable td i{font-style:normal; color:#ea2020;}
.imgtd{text-indent:0;}
.imgtable tbody tr.odd{background:#f5f8fa;}
.imgtable tbody tr:hover{background:#e5ebee;}
/*page*/
.pagin{float: left;position: absolute;bottom: 0;}
.pagin i{ font-weight: bold;margin: 0 5px;color: #307fb1;font-style: inherit }


.tablelist-batch{border:solid 1px #cbcbcb; width:100%; clear:both;width: 100%;}
.tablelist-batch th{background:url(/Images/th.gif) repeat-x; height:30px; line-height:30px; border-bottom:solid 1px #b6cad2;text-align:center;}
.tablelist-batch td{line-height:30px; border-right: dotted 1px #c7c7c7;padding: 2px 5px;text-align: center;border-bottom:1px dotted #c7c7c7}
.tablelist-batch td:first-child:hover{ background: url(/Images/copy.gif) no-repeat center center;cursor: pointer;text-indent:-9000px;}
.tablelink{color:#056dae;}
.tablelist-batch tbody tr.odd{background:#f5f8fa;}
.tablelist-batch tbody tr:hover{background:#e5ebee;}

.notes{background: #fff7eb;border: 1px solid #f58b0f;padding: 5px;}
.notes b{ color: red;}
.checkbox-inline{ float: left;margin-right: 10px;line-height: 26px;height: 25px;margin-left: 10px;}
.checkbox-inline input[type=checkbox]{ vertical-align: middle;margin-top: -1px;}
.tabContentStyle{ padding: 10px 5px 5px 5px!important;}

.filelink{display: inline-block;height: 20px;line-height: 20px;}
.filelink i{ display: block;width: 16px;height: 16px;background: url(/Images/attach.png) no-repeat;float: left;margin-top: 2px;margin-right: 3px;margin-left: 3px;}
.filelink span{ display: block; color: #2882ce;float: left;margin-right: 3px;}


