.uploadify{position:relative;height:20px;}
.uploadify:active,.uploadify:focus{ border: none!important;}
.uploadify-button:active,.uploadify-button:focus{ border: none!important;}
.uploadify-button{background:#056DAA;border: 1px solid #056DAA;color: #fff;text-align: center;line-height: normal;display: inline-block;cursor: pointer; -moz-border-radius: 1px 1px 1px 1px; -webkit-border-radius: 1px 1px 1px 1px; border-radius: 1px 1px 1px 1px;}
.uploadify-button-text{background:url(./upload.png) no-repeat;padding-left: 20px;}
.uploadify:hover .uploadify-button{}
.uploadify-button.disabled{background-color:#d0d0d0;color:#808080}
/*.uploadify-queue{margin-bottom:1em}*/
.uploadify-queue-item{padding:4px;width:99%;background-color:#ddd;font-size:10px!important;color:#000;font-family:"Microsoft YaHei"}
.uploadify-error{background-color:#fde5dd!important}
.uploadify-queue-item .cancel a{float:right;width:16px;height:16px;background:url('./uploadify-cancel.png') 0 0 no-repeat;text-indent:-9999px}
.uploadify-queue-item.completed{background-color:#e5e5e5}
.uploadify-progress{margin-top:5px;width:100%;background-color:#e5e5e5}
.uploadify-progress-bar{width:1px;height:3px;background-color: #09f;}