<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--RabbitMQ Start-->
  <add key="HostName" value="localhost" />
  <add key="UserName" value="rabbit" />
  <add key="Password" value="123456" />
  <!--RabbitMQ End-->

  <add key="AttachmentUrl" value="http://localhost:8655/" />
  
  <!--倍智资源服务授权信息 Start-->
  <add key="AppKey" value="FWe3e23e701780376e" />
  <add key="AppSecret" value="d3ZTZpZFFR8u6JKu1NCyf28JiPU8h22dfUYXac9o6sg" />
  <!--倍智资源服务授权信息 End-->
</appSettings>