<?xml version="1.0" encoding="utf-8" ?>
<!--日志配置开始-->
<log4net>
  <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
  <!-- Set root logger level to ERROR and its appenders -->
  <root>
    <!--标识这条日志信息的重要级别-->
    <!--None>Fatal>ERROR>WARN>DEBUG>INFO>ALL，设定一个Level，那么低于这个Level的日志是不会被写到Appender中的-->
    <level value="ALL"/>
    <!--可选，最多只能一个。定义记录器的记录等级。记录器将只接受在大于等于这个等级的事件。-->
    <!--<appender-ref ref="RollingFileAppenderByComposite"/>-->
    <appender-ref ref="WarnRollingFileAppender"/>
    <appender-ref ref="InfoRollingFileAppender"/>
    <appender-ref ref="MSMQAppender"/>
    <!--无或者多个。允许logger通过名字引用appender。-->
  </root>
  <!-- Print only messages of level DEBUG or above in the packages -->
  <logger name="Logging">
    <level value="ALL"/>
  </logger>

  <!--将日志发送至 MSMQ -->
  <appender name="MSMQAppender" type="log4net.Appender.MSMQAppender,BestWise.MM.Log.Messaging" LEVEL="ALL" >
    <queueServer value="TCP:42.121.193.64" />
  </appender>

  <!--按日志日期和容量分割日志文件 100KB一个-->
  <appender name="RollingFileAppenderByComposite" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="App_Logs/" />
    <param name="AppendToFile" value="true" />
    <!-- RollingStyle Composite 综合  Size 按大小  Date 按时间 -->
    <param name="RollingStyle" value="Composite" />
    <!-- 切割最多文件数 -1表示不限制产生日志文件数-->
    <param name="MaxSizeRollBackups" value="-1"/>
    <!-- 每个文件的大小限制  -->
    <param name="MaximumFileSize" value="100KB"/>
    <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.log&quot;" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <!--可选元素，最多一个，定义展示格式-->
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>
  <!--按日志日期和容量分割日志文件 100KB一个-->
  <appender name="WarnRollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net" LEVEL="WARN" >
    <param name="File" value="App_Logs/" />
    <param name="AppendToFile" value="true" />
    <!-- RollingStyle Composite 综合  Size 按大小  Date 按时间 -->
    <param name="RollingStyle" value="Composite" />
    <!-- 切割最多文件数 -1表示不限制产生日志文件数-->
    <param name="MaxSizeRollBackups" value="-1"/>
    <!-- 每个文件的大小限制  -->
    <param name="MaximumFileSize" value="100KB"/>
    <param name="DatePattern" value="&quot;Logs_Error_&quot;yyyyMMdd&quot;.log&quot;" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <!--可选元素，最多一个，定义展示格式-->
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="WARN" />
      <param name="LevelMax" value="WARN" />
    </filter>
  </appender>
  <!--按日志日期和容量分割日志文件 100KB一个-->
  <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net" LEVEL="INFO">
    <param name="File" value="App_Logs/" />
    <param name="AppendToFile" value="true" />
    <!-- RollingStyle Composite 综合  Size 按大小  Date 按时间 -->
    <param name="RollingStyle" value="Composite" />
    <!-- 切割最多文件数 -1表示不限制产生日志文件数-->
    <param name="MaxSizeRollBackups" value="-1"/>
    <!-- 每个文件的大小限制  -->
    <param name="MaximumFileSize" value="100KB"/>
    <param name="DatePattern" value="&quot;Logs_Info_&quot;yyyyMMdd&quot;.log&quot;" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <!--可选元素，最多一个，定义展示格式-->
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
      <param name="LevelMax" value="INFO" />
    </filter>
  </appender>

</log4net>