<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404</title>
    <link href="Styles/InIt.css" rel="stylesheet" />
    <link href="Styles/right.css" rel="stylesheet" />
    <script src="Scripts/jquery.min.js"></script>
    <script language="javascript">
        $(function () {
            $('.error').css({ 'position': 'absolute', 'left': ($(window).width() - 490) / 2 });
            $(window).resize(function () {
                $('.error').css({ 'position': 'absolute', 'left': ($(window).width() - 490) / 2 });
            });
        });
    </script>
</head>
<body>
    <div class="error">
        <h2>非常遗憾，程序出错了！</h2>
        <!--<div class="reindex"><a href="/Home/Default">返回首页</a></div>-->
    </div>
</body>
</html>
