
@{
    ViewBag.Title = "课程信息";
}
@model BestWise.YLS.Model.StudentBook
@using BestWise.Common

<div class="easyui-panel" data-options="fit:true,border:false;" style="padding:5px;">
    <form id="form-book-deal" method="post">
        <table class="tabdetail">
            <tr>
                <td class="tdtitle">状态：</td>
                <td>
                    @Html.RadioButtonForSelectList(m => m.DealState, ViewBag.DealState as SelectList, LayoutDirection.Horizontal)
                </td>
            </tr>
            <tr>
                <td class="tdtitle">备注：</td>
                <td>@Html.TextAreaFor(m => m.Notes, new { @class = "detailtextArea", placeholder = "备注" })</td>
            </tr>
            @Html.HiddenFor(m=>m.BookId)
        </table>
    </form>
</div>
