

/*课程详情名称部分开始*/

.course-details-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f3f5f9;
}

.course-details-name {
    background: #fff;
    padding: 0 5.3% 0 4%;
    width: 90.7%;
    overflow: hidden;
}

.course-details-name>p {
    margin-top: 3.125rem;
    font-size: 2.125rem;
    color: #333;
}

.course-details-timeBox {
    overflow: hidden;
    margin-top: 1.75rem;
    margin-bottom: 3.125rem;
}

.course-details-timeBox p:first-child {
    color: #999;
    font-size: 1.625rem;
    float: left;
}

.course-details-timeBox p:last-child {
    float: right;
    color: #46b0fc;
    font-size: 1.5rem;
}

.course-details-timeBox p:last-child.red {
    color: #e85e51;
}


/*课程详情名称部分结束*/


/*课程详情列表开始*/

.course-details-listBox {
    padding: 0 5.3% 0 4%;
    width: 90.7%;
    margin-top: 1.875rem;
    background: #fff;
}

.course-details-listBox ul {
    list-style: none;
}

.course-details-list {
    overflow: hidden;
}

.course-details-list>li {
    border-bottom: 0.0625rem solid #e8e8e8;
    background: url('../imgs/right_icon.png') no-repeat center right;
    background-size: 1.062rem 1.625rem;
}

.course-details-list>li>p {
    font-size: 1.875rem;
    color: #333;
    height: 6.25rem;
    line-height: 6.25rem;
}


