

/*预约开始*/
.reservation-container{
	background: #f3f5f9;
	width: 100%;
	/*height: 83.375rem;
*/
}


.reservation-status:first-child{
	margin-top: 0;
}
.reservation-status{
	margin-top: 1.875rem;
	background: #fff;
	padding:0 5.3% 0 4%;
	width: 90.7%;
	overflow: hidden;
}
..reservation-name{
	overflow: hidden;
}
.reservation-name p:first-child{
	float: left;
	font-size: 2.0rem;
	color: #333;
}

.reservation-name p:last-child{
	float: right;
	font-size: 1.5rem;
	
}


.status-succeed{
	color: #46b0fc;
}
.status-treatment{
	color: #46b0fc;
}
.status-defeat{
	color: #e85e51;
}


.reservation-name{
	overflow: hidden;
	height: 6.5rem;
	padding-left: 0.625rem;
	line-height: 6.5rem;
}
.reservation-time p{
	padding-left: 0.625rem;
	font-size:1.625rem;
	color: #999;
	padding-bottom: 1.25rem;
}

.reservation-button{
	border-top: 1px solid #e8e8e8;
	padding: 1.875rem 0 2.5rem;
	overflow: hidden;
}
.reservation-button div{
	float: right;
	width: 20.3%;
	height:4.0rem;
	line-height: 4.0rem;
	font-size: 1.5rem;
	border-radius: 0.25rem;
	text-align: center;
	
}
.toCommentOn{
	margin-left: 1.875rem;
	color: #fff;
	background: #e1453a;
	border: 0.0625rem solid #e1453a;
}
/*预约结束*/