<?xml version="1.0" encoding="utf-8"?>
<fileConfig>
  <!--
  name:用途
  type:文件类型
  rootPath:文件存放的根路径,{0}表示日期的yyyyMMdd
  maxContentLength:文件存放的根路径 （默认为500KB，单位为: bytes，为0时，表示不做限制）
  -->
  <file name="material" type="" rootPath="/attachment/material/{0}" maxContentLength="0"/>
  <file name="teacher" type="" rootPath="/attachment/teacherimage/{0}" maxContentLength="0"/>
  <file name="course" type="" rootPath="/attachment/course/{0}" maxContentLength="0"/>
</fileConfig>