<div class="back-gray ban-detail-sec">
    <div class="teacher-detail-sec">
        <div class="ban-detail-name">青年创业指导培训班（第十一期）</div>
        <div class="ban-detail-date">
            <span>2016.11.03</span>
            <span>成都市团校</span>
        </div>
        <img class="ban-detail-img" src="imgs/imgTest/teacher1.png" />
        <div class="teacher-list-content" style="font-size: 1.625rem;">主讲课程：企业战略分析与规划；品牌推广、市场策划；营销组织框架、销售管理体系设计讲课程：企业战略分析与规划；品牌推广、市场策划；营销组织框架、销售管理体系设计</div>
    </div>
    <div>
        <div class="ban-detail-title">培训详情</div>
        <div class="teacher-detail-sec">
            <div class="ban-detail-list">
                <div>
                    <img src="imgs/ban_time.png" alt="">
                    <span>培训时间</span>
                </div>
                <div>2017.01.12-2017.01.15</div>
            </div>
            <div class="ban-detail-list">
                <div>
                    <img src="imgs/ban_clock.png" alt="">
                    <span>报名截止时间</span>
                </div>
                <div>2017.01.02 18:00</div>
            </div>
            <div class="ban-detail-list">
                <div>
                    <img src="imgs/ban_loc.png" alt="">
                    <span>培训地点</span>
                </div>
                <div>成都市团校</div>
            </div>
            <div class="ban-detail-list">
                <div>
                    <img src="imgs/ban_person.png" alt="">
                    <span>培训对象</span>
                </div>
                <div>各基层团组织负责青年“双创”工作的相关人员（共100人）</div>
            </div>
            <div class="ban-detail-list">
                <div>
                    <img src="imgs/ban_content.png" alt="">
                    <span>培训内容</span>
                </div>
                <div>各基层团组织负责青年“双创”工作的相关人员（共100人）</div>
            </div>
            <div class="ban-detail-list">
                <div>
                    <img src="imgs/ban_teacher.png" alt="">
                    <span>培训老师</span>
                </div>
                <div>程东</div>
            </div>
            <div class="ban-detail-list">
                <div>
                    <img src="imgs/ban_note.png" alt="">
                    <span>培训要求</span>
                </div>
                <div>各基层团组织负责青年“双创”工作的相关人员（共100人）</div>
            </div>
        </div>
    </div>
    <div>
        <div class="ban-detail-title" style="border:none;">联系方式</div>
        <div style="padding:0 2.5rem;">
            <div class="ban-detail-tel">
                <img src="imgs/ban_call.png" alt="">
                <span>张老师</span>
                <span>61313955</span>
            </div>
            <div class="ban-detail-tel">
                <img src="imgs/ban_call.png" alt="">
                <span>李老师</span>
                <span>61313955</span>
            </div>
        </div>
    </div>
    <div>
        <div class="ban-detail-title">所有评论（4）</div>
        <div class="comment-list-sec">
            <div class="comment-list">
                <div>
                    <div class="comment-head back-cover" style="background-image: url('imgs/imgTest/teacher1.png')"></div>
                    <div class="comment-name">
                        <div>用户昵称</div>
                        <div>2016-08-15 09:45</div>
                    </div>
                    <div style="clear: right;"></div>
                    <div class="comment-star">
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star.png" />
                    </div>
                </div>
                <div class="comment-content">这个课程不错，学到很多东西，老师讲的很实用，分享的东西很好，期待下一期</div>
            </div>
            <div class="comment-list">
                <div>
                    <div class="comment-head back-cover" style="background-image: url('imgs/imgTest/teacher1.png')"></div>
                    <div class="comment-name">
                        <div>用户昵称</div>
                        <div>2016-08-15 09:45</div>
                    </div>
                    <div style="clear: right;"></div>
                    <div class="comment-star">
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star.png" />
                    </div>
                </div>
                <div class="comment-content">这个课程不错，学到很多东西，老师讲的很实用，分享的东西很好，期待下一期</div>
            </div>
            <div class="comment_arrow">
                <img src="imgs/arrow_down.png" />
            </div>
        </div>
    </div>
</div>
</div>
<div class="ban-footer">
    <!-- <div class="footer-btn nostart">报名未开始</div>    -->
     <div class="footer-btn signUp" ui-sref="signUp({banId:111})">报名</div>
       <!-- <div class="footer-btn nostart" >报名已结束</div> -->
    <div class="footer-btn" ui-sref="reservation({banId:111})">预约</div>
</div>
