



<div class='comments-bounced-container'>
<!-- 评论弹框开始 -->

	<div class='bounced-content'>
	<div class='bounced-close'></div>
		<div class='bounced-content-top'>
			<p>PPT企业级版式设计与精炼PPT企业级版式设计与精炼</p>
			<div class='comments-stars-box'>
				<p>评分</p>
				<div class="comments-stars">
					<img src="imgs/checked-start.png" alt="">
					<img src="imgs/checked-start.png" alt="">
					<img src="imgs/checked-start.png" alt="">
					<img src="imgs/unchecked-start.png" alt="">
					<img src="imgs/unchecked-start.png" alt="">
				</div>
			</div>
		</div>

		<div class='comments-write'>
			<textarea placeholder="喜欢这个课程吗，说几句吧~"></textarea>
			<button type="button">发表</button>
		</div>
	</div>

<!-- 评论弹框结束 -->

</div>
	
</body>
</html>