<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=no">
	<title>通讯录</title>
	<link rel="stylesheet" type="text/css" href="css/Contact-list.css">
</head>
<body>
<div class='Contact-list-container'>
<!-- 搜索栏开始 -->
	<div class="Contact-list-searchBox">
		<div class='search-icon'><img src="imgs/info-search-icon.png"></div>
		<div class="Contact-search"><input type="text" placeholder="搜索姓名" name=""></div>
	</div>
	<!-- 搜索栏结束 -->

	<!-- 培训班学生信息开始 -->
<div class="Contact-list-info">
	<h3>青年创业指导培训班</h3>
	<ul class="student-Contact">
		<li>
			<p>张浩鹏</p>
			<p>男</p>
			<p>18702345678</p>
		</li>
		<li>
			<p>张浩鹏</p>
			<p>男</p>
			<p>18702345678</p>
		</li>
		<li>
			<p>李&ensp;&ensp;茉</p>
			<p>女</p>
			<p>18702345678</p>
		</li>
		<li>
			<p>张浩鹏</p>
			<p>男</p>
			<p>18702345678</p>
		</li>
		<li>
			<p>张浩鹏</p>
			<p>男</p>
			<p>18702345678</p>
		</li>
		<li>
			<p>李&ensp;&ensp;茉</p>
			<p>女</p>
			<p>18702345678</p>
		</li>
	</ul>
</div>
	<!-- 培训班学生信息结束 -->

</div>
<script type="text/javascript">

</script>
	
</body>
</html>