<div class="back-gray ban-detail-sec">
    <div class="teacher-detail-sec">
        <div class="ban-detail-name">绘画人生-少儿水彩画班</div>
        <div class="ban-detail-date">
            <span>2016.11.03</span>
            <span>成都市团校</span>
        </div>
        <img class="ban-detail-img" src="imgs/imgTest/teacher1.png" />
        <div class="teacher-list-content" style="font-size: 1.625rem;">精品课程：企业战略分析与规划；品牌推广、市场策划；营销组织框架、销售管理体系设计讲课程：企业战略分析与规划；品牌推广、市场策划；营销组织框架、销售管理体系设计</div>
    </div>
    <div>
        <div class="ban-detail-title">所有评论（4）</div>
        <div class="comment-list-sec">
            <div class="comment-list">
                <div>
                    <div class="comment-head back-cover" style="background-image: url('imgs/imgTest/teacher1.png')"></div>
                    <div class="comment-name">
                        <div>用户昵称</div>
                        <div>2016-08-15 09:45</div>
                    </div>
                    <div style="clear: right;"></div>
                    <div class="comment-star">
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star.png" />
                    </div>
                </div>
                <div class="comment-content">这个课程不错，学到很多东西，老师讲的很实用，分享的东西很好，期待下一期</div>
            </div>
            <div class="comment-list">
                <div>
                    <div class="comment-head back-cover" style="background-image: url('imgs/imgTest/teacher1.png')"></div>
                    <div class="comment-name">
                        <div>用户昵称</div>
                        <div>2016-08-15 09:45</div>
                    </div>
                    <div style="clear: right;"></div>
                    <div class="comment-star">
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star_s.png" />
                        <img src="imgs/star.png" />
                    </div>
                </div>
                <div class="comment-content">这个课程不错，学到很多东西，老师讲的很实用，分享的东西很好，期待下一期</div>
            </div>
            <div class="comment_arrow">
                <img src="imgs/arrow_down.png" />
            </div>
        </div>
    </div>
</div>
</div>
<div class="ban-footer one">
    <div class="footer-btn">预约</div>
</div>
