
	

<div class="course-details-container">
<!-- 课程详情开始 -->
	<!-- 课程详情名称部分开始 -->
	<div class="course-details-name">
		<p>青年创业指导培训班（第十期）</p>
		<div class='course-details-timeBox'>
			<p>培训时间:2016.12.07-2016.12.12</p>
			<p>已结业</p>
		</div>
	</div>
	<!-- 课程详情名称部分结束 -->

	<!-- 课程详情列表开始 -->
	<div class="course-details-listBox">
		<ul class='course-details-list'>
			<li><p>我的结业证书</p></li>
			<li><p>课程表</p></li>
			<li><p>班级通讯录</p></li>
		</ul>
		<ul class='course-materialsBox'>
			<li>
				<div class='course-materials'>
					<p>课程资料</p>
					<div class='materialsRight'>
						<i></i>
						<i></i>
					</div>
				</div>
				
			</li>

			<li>
				<ul class='course-materials-list'>
					<li>
						<div class="previewBox">
						<img src="imgs/zl_video.png" alt="">
						</div>
						<p class="course-description">PPT企业级版式设计与精炼PPT企业级...</p>
					</li>
					<li>
						<div class="previewBox">
						<img src="imgs/zl_wd.png" alt="">
						</div>
						<p class="course-description">计算机网络培训原理</p>
					</li>
					<li>
						<div class="previewBox">
						<img src="imgs/zl_audio.png" alt="">
						</div>
						<p class="course-description">学员手册</p>
					</li>
					<li>
						<div class="previewBox">
						<img src="imgs/zl_wd.png" alt="">
						</div>
						<p class="course-description">计算机网络培训原理</p>
					</li>
				</ul>
				
			</li>
			
		</ul>
	</div>
	<!-- 课程详情列表结束 -->

	<!-- 课程详情之我的评论开始 -->
	<div class="course-details-comment">
		<div class='comment-title'>我的评论(3)</div>
		<ul class='course-comment-list'>
			<li>
				<div class="comment-timestarts-Box">
					<div class="course-comment-stars">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star.png" alt="">
					</div>
					<p class='course-comment-time'>2016-08-15 09:45</p>
				</div>
				<p class="comment-details">这个课程不错，学到很多东西，老师讲的很实用，分享的东西都是干货。很好，期待下一期</p>
			</li>
			<li>
				<div class="comment-timestarts-Box">
					<div class="course-comment-stars">
					<img src="imgs/star_s.png" alt="">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star.png" alt="">
					</div>
					<p class='course-comment-time'>2016-08-15 09:45</p>
				</div>
				<p class="comment-details">这个课程不错，学到很多东西，老师讲的很实用，分享的东西都是干货。很好，期待下一期</p>
			</li>
			<li>
				<div class="comment-timestarts-Box">
					<div class="course-comment-stars">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star_s.png" alt="">
						<img src="imgs/star.png" alt="">
					</div>
					<p class='course-comment-time'>2016-08-15 09:45</p>
				</div>
				<P class=''></P>
				<p class="comment-details">这个课程不错，学到很多东西，老师讲的很实用，分享的东西都是干货。很好，期待下一期</p>
			</li>
		</ul>
		
	</div>
	<!-- 课程详情之我的评论开始 -->

	<div class="back-course-details"><img src="imgs/arrow_up.png"></div>

</div>

<!-- 课程详情结束 -->
	
