<div class="teacher-list-sec">
    <div>
        <div ui-sref="courseDetail({courseId:123})" class="teacher-list-model">
            <div style="display:table;margin:2.5rem 0;">
                <div class="teacher-list-img back-cover" style="background-image: url('imgs/imgTest/teacher1.png');width:35%;"></div>
                <div class="teacher-list-right" style="width:60%;">
                    <div class="teacher-list-title">绘画人生-少儿水彩画班</div>
                    <div class="teacher-list-content" style="margin-top:1rem;">精品课程：企业战略分析与规划；品牌推广、市场策划；营销组织框架、销售管理体系设计讲课程：企业战略分析与规划；品牌推广、市场策划；营销组织框架、销售管理体系设计</div>
                </div>
            </div>
        </div>
    </div>
</div>
