


<div class='timetable-container'>
<!-- 课程表头部开始 -->

<div class="timetable-top">
	<h3>青年创业指导培训班(第十期)</h3>
	<p>培训时间:2016.12.03 - 2016.12.07</p>
</div>

<!-- 课程表头部结束 -->


<!-- 课程表内容开始 -->
<div class="timetable-content">
	<table class="timetable-list" cellspacing="0">
	   <tr> 
        <th>课程</th> 
        <th>日期</th> 
        <th>培训老师</th> 
        <th>学时</th>
    	</tr> 
		<tr>
			<td>找到目标</td>
			<td>
			<p>12.03.上午</p>
			<p>09:30-12:00</p>
			</td>
			<td>张兰</td>
			<td>3</td>
		</tr>
		<tr>
			<td>确认客户群</td>
			<td>
			<p>12.04.下午</p>
			<p>09:30-12:00</p>
			</td>
			<td>张兰</td>
			<td>3</td>
		</tr>
		<tr>
			<td>首先学会如何销售自...</td>
			<td>
			<p>12.05.上午</p>
			<p>09:30-12:00</p>
			</td>
			<td>张兰</td>
			<td>2</td>
		</tr>
		<tr>
			<td>坚持梦想</td>
			<td>
			<p>12.06.下午</p>
			<p>09:30-12:00</p>
			</td>
			<td>张兰</td>
			<td>3</td>
		</tr>
	</table>

</div>

<!-- 课程表内容结束 -->

</div>
