<div class="course-details-container">
    <!-- 课程详情开始 -->
    <!-- 课程详情名称部分开始 -->
    <div class="course-details-name">
        <p>{{banDetail.Name}}</p>
        <div class='course-details-timeBox'>
            <p>培训时间：{{banDetail.StartTime|date:'yyyy.MM.dd'}}-{{banDetail.EndTime|date:'yyyy.MM.dd'}}</p>
            <p ng-class="{0:'red'}[banDetail.State]">{{banDetail.StateText}}</p>
        </div>
    </div>
    <!-- 课程详情名称部分结束 -->
    <!-- 课程详情列表开始 -->
    <div class="course-details-listBox">
        <ul class='course-details-list'>
            <li ng-if="banDetail.State==3" ng-click="openCertificate()">
                <p>结业证书</p>
            </li>
            <li ng-if="banDetail.State==3" ng-click="openClassHours()">
                <p>学时证明</p>
            </li>
            <li ui-sref="myBanCourse({banId:banDetail.TrainId})">
                <p>课程表</p>
            </li>
            <li ui-sref="myBanContact({banId:banDetail.TrainId})">
                <p>班级通讯录</p>
            </li>
        </ul>
        <div class="zl-list-model" style="width:100%;" ng-if="attachment.length>0">
            <div class="zl-detail-title">相关资料
                <div style="float: right;display: inline-block;text-align: right;">
                    <span class="zl-about-tag" ng-repeat="n in slidePage" ng-class="{true:'active'}[n.active]"></span>
                </div>
            </div>
            <div class="dt_pc_container">
                <div id="dt_pic_div">
                    <div class="dt_pic_show" style="left:{{picDis}}" ng-init="picDis=$index*32.2+'%'" ng-repeat="n in attachment" ui-sref="zlDetail({zlId:n.AttachmentId})">
                        <div class="back-cover" style="background-image:url('imgs/zl_video.png');height:6rem;" ng-if="n.Type=='Video'||n.Type=='Link'"></div>
                        <div class="back-cover" style="background-image:url('imgs/zl_audio.png');height:6rem;" ng-if="n.Type=='Audio'"></div>
                        <div class="back-cover" style="background-image:url('imgs/zl_wd.png');height:6rem;" ng-if="n.Type=='Other'"></div>
                        <div class="dt_pic_text">
                            {{n.Name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 课程详情列表结束 -->
    <!-- 课程详情之我的评论开始 -->
    <div style="background: white;margin-top:1.875rem; ">
        <div class="ban-detail-title" style="padding-left:4%; ">我的评论（{{TotalItemCount}}）</div>
        <div class="comment-list-sec" scroll-load getdata="loadMore">
            <div style="color:#777;" ng-if="TotalItemCount==0">暂无评论~</div>
            <div class="comment-list" ng-repeat="c in comList|limitTo:commentNum">
                <div>
                    <div class="comment-name">
                        <div style="float: right;">{{c.CommentTime|date:'yyyy-MM-dd HH:mm'}}</div>
                    </div>
                    <!-- <div style="clear: right;"></div> -->
                    <div class="comment-star">
                        <img ng-src="{{s.url}}" ng-repeat="s in c.stars" />
                    </div>
                </div>
                <div class="comment-content" style="padding-left:0;">{{c.Body}}</div>
            </div>
            <div class="comment_arrow" ng-if="TotalItemCount>3">
                <img src="imgs/arrow_down.png" ng-click="openComment()" ng-class="{true:'rotate180'}[openCom]" />
            </div>
        </div>
    </div>
</div>
<!-- 课程详情结束 -->
