


<div class='timetable-container'>
<!-- 课程表头部开始 -->

<div class="timetable-top">
	<h3>{{banDetail.Name}}</h3>
	<p>培训时间：{{banDetail.StartTime|date:'yyyy.MM.dd'}}-{{banDetail.EndTime|date:'yyyy.MM.dd'}}</p>
</div>

<!-- 课程表头部结束 -->


<!-- 课程表内容开始 -->
<div class="timetable-content">
	<table class="timetable-list" cellspacing="0">
	   <tr> 
        <th>课程</th> 
        <th>日期</th> 
        <th>培训老师</th> 
        <th>学时</th>
    	</tr> 
		<tr ng-repeat="n in banTable">
			<td>{{n.Name}}</td>
			<td>
			<p>{{n.StartTime|date:'yyyy-MM-dd HH:mm'}}</p>
			<p>{{n.EndTime|date:'yyyy-MM-dd HH:mm'}}</p>
			</td>
			<td><span ng-repeat="t in n.TrainTeacher" style="margin-right: 5px;">{{t}}</span></td>
			<td>{{n.ClassHours}}</td>
		</tr>
		<!-- <tr>
			<td>确认客户群</td>
			<td>
			<p>12.04.下午</p>
			<p>09:30-12:00</p>
			</td>
			<td>张兰</td>
			<td>3</td>
		</tr>
		<tr>
			<td>首先学会如何销售自...</td>
			<td>
			<p>12.05.上午</p>
			<p>09:30-12:00</p>
			</td>
			<td>张兰</td>
			<td>2</td>
		</tr>
		<tr>
			<td>坚持梦想</td>
			<td>
			<p>12.06.下午</p>
			<p>09:30-12:00</p>
			</td>
			<td>张兰</td>
			<td>3</td>
		</tr> -->
	</table>

</div>

<!-- 课程表内容结束 -->

</div>
