<div class="my-courses-container">
    <!-- 我的课程切换按钮开始 -->
    <header class="my-courses-tab">
        <ul>
            <li ng-class="{false:'active'}[isfinish]" ng-click="goUnfinish()">
                <p>未结束</p><i></i></li>
            <li ng-class="{true:'active'}[isfinish]" ng-click="goFinish()">
                <p>已结束</p><i></i></li>
        </ul>
    </header>
    <!-- 我的课程切换按钮结束 -->
    <!-- 我的课程状态开始 -->
    <div class="training-status">
        <div class="training-unfinished" scroll-load getdata="loadMore" ng-show="!isfinish">
            <ul ng-repeat="u in unbanList">
                <li ng-click="gomyBanDetail(u)">
                    <div class="trainingClass-name">
                        <p>{{u.Name}}</p>
                        <p ng-class="{0:'red'}[u.State]">{{u.StateText}}</p>
                    </div>
                    <div class='training-time'>
                        <p>培训时间:{{u.StartTime|date:'yyyy.MM.dd'}}- {{u.EndTime|date:'yyyy.MM.dd'}}</p>
                    </div>
                </li>
                <li ng-if="u.State!=0">
                    <div class='trainingClass-button'>
                        <div class='toCommentOn' ng-click="gotoComment(u)">去评论</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="training-finish" scroll-load getdata="loadMore" ng-show="isfinish">
            <ul ng-repeat="u in endbanList">
                <li ui-sref="myBanDetail({banId:u.TrainId})">
                    <div class="trainingClass-name">
                        <p>{{u.Name}}</p>
                        <p ng-class="{4:'red'}[u.State]">{{u.StateText}}</p>
                    </div>
                    <div class='training-time'>
                        <p>培训时间:{{u.StartTime|date:'yyyy.MM.dd'}}- {{u.EndTime|date:'yyyy.MM.dd'}}</p>
                    </div>
                </li>
                <li>
                    <div class='trainingClass-button'>
                        <div class='toCommentOn' ng-click="gotoComment(u)">去评论</div>
                        <div class='trainingClass-diploma' ng-if="u.State==3" ng-click="openCertificate(u)">结业证书</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 我的课程状态结束 -->
</div>
