

<div class="my-courses-container">
		<!-- 我的课程切换按钮开始 -->
	<div class="my-courses-tab">
		<ul>
			<li><p>未结束</p><i></i></li>
			<li><p>已结束</p><i></i></li>
		</ul>
	</div>
		<!-- 我的课程切换按钮结束 -->

		<!-- 我的课程状态开始 -->
	<div class="training-status">
		<div class="training-finish">
			<ul>
				<li>
					<div class="trainingClass-name">
						<p>青年创业指导培训班（第十一期）</p>
						<p>已结业</p>
					</div>
					<div class='training-time'>
					<p>培训时间:2016.12.07 - 2016.12.12</p>
					</div>
				</li>
				<li>
				<div class='trainingClass-button'>
				<div class='toCommentOn'>去评论</div>
				<div class='trainingClass-diploma'>结业证书</div>
				</div>
				</li>
			</ul>
		</div>

		<div class="training-unfinished">
			<ul>
				<li>
					<div class="trainingClass-name">
					<p>商务精品英语培训（第五期）</p>
					<p id='not-associate'>未结业</p>
					</div>
					<div class='training-time'>
					<p>培训时间:2016.12.07 - 2016.12.12</p>
					</div>
				</li>
				<li>
					<div class='trainingClass-button'>
						<div class='toCommentOn'>去评论</div>
					</div>
				</li>
				
			</ul>

		</div>

	</div>
		<!-- 我的课程状态结束 -->


</div>

