<div class='Contact-list-container'>
    <!-- 搜索栏开始 -->
  <!--     <div class="Contact-list-searchBox">
        <div>
            <div class='search-icon'><img src="imgs/info-search-icon.png"></div>
            <div class="Contact-search">
                <input type="text" placeholder="搜索姓名" name="" ng-model="searchName" ng-change="seachData()">
            </div>
                <span ng-click="seachData()">搜索</span>
        </div>
    </div> -->
    <div class="search-header">
        <div>
            <input type="text" placeholder="搜索姓名" ios-fixed ng-model="searchName">
            <span ng-click="seachData()">搜索</span>
        </div>
    </div>
    <!-- 搜索栏结束 -->
    <!-- 培训班学生信息开始 -->
    <div class="Contact-list-info">
        <h3>{{banDetail.Name}}</h3>
        <ul class="student-Contact" scroll-load getdata="loadMore">
            <li ng-repeat="n in contactList">
                <p>{{n.Name}}</p>
                <p>{{n.SexText}}</p>
                <p>{{n.MobileNumber}}</p>
            </li>
        </ul>
    </div>
    <!-- 培训班学生信息结束 -->
</div>
