<div class="training-unfinished" style="background-color: #f3f5f9;" scroll-load getdata="loadMore" ng-show="myReserve.length>0">
    <ul ng-repeat="n in myReserve">
        <li>
            <div class="trainingClass-name">
                <p>{{n.TargetName}}</p>
                <p class="{2:'red'}[n.BookState]">{{n.BookStateText}}</p>
            </div>
            <div class='training-time'>
                <p>预约时间：{{n.BookTime|date:'yyyy.MM.dd'}}</p>
            </div>
        </li>
        <li ng-if="n.BookState==1&&n.BookType==1">
            <div class='trainingClass-button'>
                <div class='toCommentOn' ng-click="gotoComment(n)">去评论</div>
            </div>
        </li>
    </ul>
</div>
<!-- 空白页 -->
<div class="my-course-null" ng-show="myReserve.length==0">
    <img src="imgs/my_reserve_null.png">
    <div>目前还没有预约噢~</div>
</div>
