
	<!-- 我的预约 -->


<!-- 预约开始 -->
<div class='reservation-container'>

				<div class="reservation-status">
						<div class="reservation-name">
							<p>青年创业指导培训班（第十一期）</p>
							<p class='status-succeed'>预约成功</p>
						</div>
						<div class='reservation-time'>
							<p>培训时间:2016.12.07 - 2016.12.12</p>
						</div>
						<div class='reservation-button'>
							<div class='toCommentOn' >去评论</div>
						</div>
				</div>

				<div class="reservation-status">
					<div class="reservation-name">
					<p>商务精品英语培训（第五期）</p>
					<p class='status-defeat'>预约失败</p>
					</div>
					<div class='reservation-time'>
					<p>培训时间:2016.12.07 - 2016.12.12</p>
					</div>
				</div>
				
				<div class="reservation-status">
					
						<div class="reservation-name">
						<p>商务精品英语培训（第五期）</p>
						<p class='status-treatment'>处理中</p>
						</div>
						<div class='reservation-time'>
						<p>培训时间:2016.12.07 - 2016.12.12</p>
						</div>
					

				</div>
		<!-- 预约结束 -->
	</div>
</div>