

<div class="perCenTer-container">
	<!-- 个人信息头部开始 -->
	<div class="perCenTer-top back-cover">
		<div class="perCenTer-Box">
			<div><img src="imgs/userpicImg.jpeg" alt=""></div>
			<p>Hi,用户名</p>
		</div>
	</div>
	<!-- 个人信息头部结束 -->

	<!-- 个人信息选择列表开始 -->
	<div class="perCenTer-list">
		<ul>
			<li >
				<div class="person-info1">
					<p>个人信息</p>
				</div>
				<div><img src="imgs/right_icon.png"></div> 
			</li>
			<li>
				<div class="person-info2">
					<p>我的课程</p>
				</div>
				<div><img src="imgs/right_icon.png"></div> 
			</li>
			<li>
				<div class="person-info3">
					<p>我的预约</p>
				</div>
				<div><img src="imgs/right_icon.png"></div> 
			</li>
			<li>
				<div class="person-info4">
					<p>我要考勤</p>
				</div>
				<div><img src="imgs/right_icon.png"></div> 
			</li>
		</ul>
	</div>
	<!-- 个人信息选择列表结束 -->

</div>
