
<div class='signUp-container'>
	<form action="" method="post">
		<div class="signUp-information">
				<!-- 报名表开始-->
			<h4>青年创业指导培训（第十期）报名</h4>
				<label>*姓&ensp;&ensp;&ensp;&ensp;名</label>
				<input type="text" name="signUp-information-name" placeholder="周鸿波">
				<label>*性&ensp;&ensp;&ensp;&ensp;别</label>
				<div class='signUpBox1'>
				<input type="radio" name="signUp-information-gender" checked="checked" > <label> 男</label>
				</div>
				<div class='signUpBox2'>

					<input type="radio" name="signUp-information-gender"> <label> 女</label>
					<div class='backdrop'></div>
				</div>
				<label>*手&ensp;&ensp;&ensp;&ensp;机</label>
				<input type="text" name="signUp-information-phone" placeholder="13646456755">
				<label>&ensp;邮&ensp;&ensp;&ensp;&ensp;箱</label>
				<input type="email" name="signUp-information-email">
				<label>*工作单位</label>
				<input type="text" name="signUp-information-unit" placeholder='成都昊天科技有限公司'>
				<label>*职&ensp;&ensp;&ensp;&ensp;务</label>
				<input type="text" name="signUp-information-job" placeholder='测试工程师'>
				<p class='signUp-hint'>请填写所有带*内容</p>
				<button type="submit" class='signUp-presentation'>提交</button>
				</div>
	</form>
</div>