<div class='signUp-container'>
	<form action="" method="post">
		<div class="signUp-information">
				<!-- 报名表开始-->
			<h4>{{banName}}报名</h4>
				<label>*姓&ensp;&ensp;&ensp;&ensp;名</label>
				<input type="text" name="signUp-information-name" >
				<label>*性&ensp;&ensp;&ensp;&ensp;别</label>
				<div class='signUpBox1'>
				<label for="male"><input type="radio" name="signUp-information-gender" checked="checked" id='male' ><div class='radioCss'></div>男</label>
				</div>
				<div class='signUpBox2'>
					<label><input type="radio" name="signUp-information-gender" id='sex' ><div class='radioCss'></div>女</label>
				</div>
				<label>*手&ensp;&ensp;&ensp;&ensp;机</label>
				<input type="text" name="signUp-information-phone">
				<label>&ensp;邮&ensp;&ensp;&ensp;&ensp;箱</label>
				<input type="email" name="signUp-information-email">
				<label>*工作单位</label>
				<input type="text" name="signUp-information-unit" >
				<label>*职&ensp;&ensp;&ensp;&ensp;务</label>
				<input type="text" name="signUp-information-job">
				<p class='signUp-hint'>请填写所有带*内容</p>
				<button type="submit" class='signUp-presentation'>提交</button>
				</div>
	</form>
</div>