<div class="teacher-list-sec">
    <div>
        <div ui-sref="teacherDetail({teacherId:n.TeacherId})" class="teacher-list-model" ng-repeat="n in teacherList">
            <div style="margin-top: 1.875rem;">
                <div class="teacher-list-name">{{n.Name}}</div>
                <div class="teacher-list-tag tag1" ng-if="n.TypeName=='特聘'">特聘教师</div>
                <div class="teacher-list-tag tag2" ng-if="n.TypeName=='团校'">团校教师</div>
            </div>
            <div style="clear: both;"></div>
            <div style="display:table;width:100%;margin:1.25rem 0 3.75rem;">
                <div class="teacher-list-img back-cover" style="background-image: url({{n.ImageUrl}})"></div>
                <div class="teacher-list-right">
                    <div class="teacher-list-title">{{n.Position}}</div>
                    <div class="teacher-list-content">主讲课程：{{n.Course}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
