<div class="teacher-detail-sec">
    <img class="teacher-detail-img" src="imgs/imgTest/teacher1.png" ng-src="{{tDetail.ImageUrl}}" />
    <div style="margin-top: 2.5rem ;">
        <span class="teacher-list-name">{{tDetail.Name}}</span>
        <div class="teacher-list-tag tag1" ng-if="tDetail.TypeName=='特聘'">特聘教师</div>
        <div class="teacher-list-tag tag2" ng-if="tDetail.TypeName=='团校'">团校教师</div>
    </div>
    <div style="clear: both;"></div>
    <div class="teacher-list-title">{{tDetail.Position}}
    </div>
    <div class="teacher-detail-btn"><img src="imgs/order_icon.png">去预约</div>
    <div class="teacher-detail-intro">{{tDetail.Introduce}}</div>
</div>
