@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>成都倍智科技管理平台</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            top.window.location.href = "/Home/Login";
        });
    </script>
</head>
<body>
</body>
</html>
