@{
    ViewBag.Title = "资料编辑页";
    var targetid = string.Format("d{0}", DateTime.Now.Ticks);
}
@model BestWise.YLS.Model.Material

<script type="text/javascript">

    //移除元素
    function RemoveAttachment(obj) {
        $(obj).parent().remove();
    }

    //添加链接
    function AddLinkInput() {
        $("#filelist tbody").append("<tr><td><input type=\"input\" class=\"detailinput link\"  value=\"\" placeholder=\"链接URL\"/></td><td><input type=\"text\" class=\"detailinput filename\" value=\"\" placeholder=\"链接名称\" /></td><td onClick='RemoveAttachment(this)'><a href=\"#\" class=\"easyui-linkbutton\" data-options=\"iconCls:'icon-cancel'\">删除</a></td></tr>");
    }

    $(function () {
        //初始化附件上传
        $('#fileUpload').uploadify({
            buttonText: '选择附件',
            swf: '/Plugs/uploadify/uploadify.swf',
            uploader: '/UploadAttachment/material',
            multi: true,
            auto: true,
            fileTypeExts: '*',
            fileTypeDesc: '选择附件',
            fileSizeLimit: 0,
            queueSizeLimit: 5,
            simUploadLimit: 1,
            queueID: 'queuebox',
            removeCompleted: false,
            onUploadSuccess: function (file, data, response) {
                var result = jQuery.parseJSON(data);
                if (result.Status == 1) {
                    $("#filelist tbody").append("<tr><td>" + result.Data + "<input type=\"hidden\" class=\"detailinput link\" value=\"" + result.Data + "\" /></td><td><input type=\"text\" class=\"detailinput filename\" value=\"\" placeholder=\"文件名称\" /></td><td onClick='RemoveAttachment(this)'><a href=\"#\" class=\"easyui-linkbutton\" data-options=\"iconCls:'icon-cancel'\">删除</a></td></tr>");
                } else parent.layer.msg(result.Message, 1, 2);
            }
        });
    });
</script>
<div class="easyui-tabs" data-options="fit:true">
    <div title="基本信息" style="padding:5px">
        <form id="form-detail" method="post">
            <table class="tabdetail">
                <tr>
                    <td class="tdtitle"><i>*</i>名称：</td>
                    <td>@Html.TextBoxFor(m => m.Name, new { @class = "detailinput easyui-validatebox", data_options = "required:true", placeholder = "资料名称" })</td>
                </tr>
                <tr>
                    <td class="tdtitle"><i>*</i>介绍：</td>
                    <td>
                      @Html.TextAreaFor(m => m.Introduce, new { @class = "detailtextArea easyui-validatebox", data_options = "required:true", placeholder = "请输入介绍" })
                    </td>
                </tr>
                <tr>
                    <td class="tdtitle">备注：</td>
                    <td>@Html.TextAreaFor(m => m.Notes, new { @class = "detailtextArea", placeholder = "备注" })</td>
                </tr>
            </table>
            @Html.HiddenFor(m => m.MaterialId)
        </form>
    </div>
    <div title="附件上传" style="padding:10px">
        <table class="tabdetail" id="filelist">
            <thead>
                <tr>
                    <td class="tdtitle" colspan="3">
                        <div>
                            <div style="float:left;"><input id="fileUpload" name="fileUpload" type="file" /></div>
                            <div style="float:left;margin-left:20px"><a id="addLink" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="AddLinkInput()">链接添加</a></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="queuebox" colspan="3"></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
