
@*<script src="~/Plugs/ckplayer/ckplayer.js"></script>
<script type="text/javascript">
  
    var flashvars = {
        f: 'http://localhost:8655/attachment/material/20161227/9a61096f616c44008725fc8d99898f69.wmv',
        c: 0
    };
    var params = { bgcolor: '#FFF', allowFullScreen: true, allowScriptAccess: 'always', wmode: 'transparent' };
    CKobject.embedSWF('/Plugs/ckplayer/ckplayer.swf', 'video', 'ckplayer_a1', '600', '400', flashvars, params);
</script>*@



<div class="easyui-panel" style="padding:5px;overflow:hidden;">
    <div id="video"></div>
</div>



