@{
    ViewBag.Title = "资料附件信息";
    Layout = "~/Views/Shared/_ListPage.cshtml";
}

@section Js{
    <script src="~/Plugs/flexpaper/swfobject.js"></script>
    <script src="~/Plugs/flexpaper/flexpaper.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#list").datagrid({
                url: '/Material/GetAttachmentList?materialId=' + '@ViewBag.MaterialId',
                method: 'post',
                loadMsg: "数据加载中.......",
                pagination: false,
                striped: true,
                rownumbers: true,
                fit: true,
                fitColumns: true,
                singleSelect: true,
                columns: [
                    [
                        { field: 'Name', title: '附件名称', width: 100, },
                        //{
                        //    title: '附件预览',
                        //    field: 'TypeText',
                        //    width: 150,
                        //    formatter: function (value, row, index) {
                        //        var html = "";
                        //        if (value == "Video" || value == "Audio")
                        //            html += '<a href=javascript:ToolFunction.MediaPreview("' + row.AttachmentId + '")  class=rowbtn' + '>附件预览</a>';
                        //        else html += ' <a href=javascript:ToolFunction.AttachmentPreview("' + row.AttachmentId + '")  class=rowbtn' + '>附件预览</a>';
                        //        return html;
                        //    }
                        //},
                        { field: 'TypeName', title: '附件类型', width: 100, },
                        { field: 'Cdt', title: '创建日期', width: 100, formatter: function (value, row, index) { return FormatDateTime(value); } },
                        {
                            title: '操作',
                            sortable: false,
                            field: 'OPERATION',
                            width: 240,
                            align: 'center',
                            formatter: function (value, row, index) {
                                var operationStr = ' <a href=javascript:ToolFunction.Delete("' + row.AttachmentId + '")  class=rowbtn>[删除]</a> ';
                                operationStr += '<a href=' + row.AttachmentUrl + ' download="">[附件下载]</href> ';
                                return operationStr;
                            }
                        }
                    ]
                ],
            });
        });


        var ToolFunction = {
            //刷新
            Refresh: function () {
                $('#list').datagrid('reload');
            },
            //删除
            Delete: function (attachmentId) {
                $.messager.confirm('提示', "确定要删除该附件！", function (r) {
                    if (r) {
                        $Ajax({
                            url: "/Material/DeleteAttachment",
                            data: {
                                attachmentId: attachmentId,
                            },
                            callBack: function (result) {
                                CloseDialog();
                                $.messager.alert("提示", result.Message, "info", function () {
                                    ToolFunction.Refresh();
                                });
                            }
                        });
                    }
                });
            },
            //一般附件预览
            AttachmentPreview: function (attachmentId) {
                parent.OpenDialog({
                    href: "/Material/Preview?attachmentId=" + attachmentId,
                    title: "附件预览",
                    width: 2000,
                    height: 2000,
                    resizable: true,
                    buttons: [
                        {
                            text: '关闭',
                            iconCls: 'icon-cross',
                            handler: parent.CloseDialog
                        }
                    ]
                });
            },
            //多媒体附件预览
            MediaPreview: function (attachmentId) {
                parent.OpenDialog({
                    href: "/Material/MediaPreview?attachmentId=" + attachmentId,
                    title: "附件预览",
                    width: 2000,
                    height: 2000,
                    resizable: true,
                    buttons: [
                        {
                            text: '关闭',
                            iconCls: 'icon-cross',
                            handler: parent.CloseDialog
                        }
                    ]
                });
            },

        };

    </script>
}

<div class="easyui-panel" data-options="border:false,fit:true" style="padding:5px;">
    <table id="list"></table>
</div>



