<script type="text/javascript">
    var swfVersionStr = "10.0.0";
    var xiSwfUrlStr = "~/Plugs/flexpaper/expressInstall.swf";
    var flashvars = {
        SwfFile: '@ViewBag.AttachmentUrl',
        Scale: 0.5,
        ZoomTransition: "easeOut",
        ZoomTime: 0.5,
        ZoomInterval: 0.1,
        FitPageOnLoad: false,
        FitWidthOnLoad: true,
        PrintEnabled: true,
        FullScreenAsMaxWindow: false,
        ProgressiveLoading: true,
        PrintToolsVisible: true,
        ViewModeToolsVisible: true,
        ZoomToolsVisible: true,
        FullScreenVisible: true,
        NavToolsVisible: true,
        CursorToolsVisible: true,
        SearchToolsVisible: true,
        localeChain: "zh_CN"
    };
    var params = {
    }
    params.quality = "high";
    params.bgcolor = "#ffffff";
    params.allowscriptaccess = "sameDomain";
    params.allowfullscreen = "true";
    var attributes = {};
    attributes.id = "FlexPaperViewer";
    attributes.name = "FlexPaperViewer";
    swfobject.embedSWF("/Plugs/flexpaper/FlexPaperViewer.swf", "flashContent", $(window).width(), $(window).height(), swfVersionStr, xiSwfUrlStr, flashvars, params, attributes);
    swfobject.createCSS("#flashContent", "display:block;text-align:left;");
</script>

<div class="easyui-panel" style="padding:5px;overflow:hidden;">
    <div id="flashContent" style="width:100%;height:100%;"></div>
</div>


