@*@{
        Layout = "~/Views/Shared/_ListPage.cshtml";
    }*@
<div style="margin-bottom: 25px;font-family: 'Microsoft Yahei','Open Sans', Arial, sans-serif;font-size: 35px;color: #555;">
    系统开发中
</div>
<div class="default-container">
    <img src="~/Images/coder.jpg" title="系统开发中" />
</div>




