@{
    Layout = null;

    BestWise.YLS.Manage.Web.SystemConfig config = new BestWise.YLS.Manage.Web.SystemConfig();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@config.LoginTitle</title>
    <!--Css-->
    <link href="~/Styles/init.css" rel="stylesheet" />
    <link href="~/Styles/login.css" rel="stylesheet" />
    <link href="~/Plugs/easyui/icon.css" rel="stylesheet" />
    <link href="~/Plugs/easyui/easyui.css" rel="stylesheet" />
    <!--Scripts-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Plugs/easyui/jquery.easyui.min.js"></script>
    <script src="~/Plugs/easyui/easyui-lang-zh_cn.js"></script>
    <script src="~/Plugs/layer/layer.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/login.js"></script>
</head>
<body>
    <div class="login-panle">
        <div class="login-left"></div>
        <div class="login-right">
            <div class="form">
                <form id="form-login" method="post">
                    <div class="f_title">微团校管理平台</div>
                    <div class="f_row">
                        <span>用户名</span>
                        <input name="UserName" type="text" value="" autocomplete="off" />
                    </div>
                    <div class="f_row">
                        <span>密  码</span>
                        <input name="Password" type="text" value="" autocomplete="off" onfocus="this.setAttribute('type','password')" />
                    </div>
                    <div class="f_row _validate">
                        <span>验证码</span>
                        <input name="Captcha" type="text" class="logincc yzmCode" value="" autocomplete="off" style=" margin-left: 30%;" />
                        <img title="看不清，换一张" class="login-c-i yzmimg" src="/yzm/Create" />
                    </div>
                    <div class="f_row _remenberme">
                        <input type="checkbox" id="IsRemember" name="IsRemember" value="True" checked="checked">
                        <label for="remenberme">记住密码</label>
                    </div>
                    <button type="button" class="f_submit" onclick="Login()"></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
